<h1>MITCHEL SCHOOL TIME TABLE</h1>

<%= link_to "Create TimeTable", new_time_table_path,class: "btn btn-info" %>
<%= link_to "View TimeTable",time_tables_path,class: "btn btn-success"%>
<%= link_to "Alert" , alert_page_path , class: "btn btn-primary" %>
